@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

html {
  font-family: 'Replica' !important;
  
  font-display: swap;
  --scrollbarBG: #ffffff00;
  --thumbBG: #b8b8b8;
  --gray-light: #E5E5E5;
  --gray-medium: #dbdbdb;
  --black: #131313;
  --yellow: #EBC814;
  --width: 100vw;
  --heading-line-height: 87%;
  --body-line-height: 120%;
  --ease-out: all ease-out 400ms;
  --ease-in: all ease-in 50ms;
  --border-radius-small: 20px;
  --border-radius-round: 999px;
  font-size: 18px;
}

.dark p, h1, h2,h3,h4, ul, li.tags_list{  
  color: #E5E5E5;
}
.dark li.tags_list{
  color: var(--gray-light);
  border-color: var(--gray-light);
}

body{
  font-family: 'Replica';
  color: var(--black);
}

@font-face {
  font-family: 'Replica';
  src: url('/public/fonts/Replica-Regular.ttf') format ('truetype');
  src: url('/public/fonts/Replica-Regular.woff') format ('woff');
  src: url('/public/fonts/Replica-Regular.woff2') format ('woff2');
  src: url('/public/fonts/Replica-Regular.eot');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}



h1, h2, h3, p{
  color: var(--black);
  font-family: 'Replica';
  font-style: normal;
  font-weight: normal;
  word-break: auto;
  hyphens: auto;
} 

.nav-links{
  display: flex;
  width: auto;
  justify-content: space-between;
  padding-right: 1rem;
}

.contact-links-wrapper{
  color: var(--black);
  font-size: 1rem;
}

.contact-link{
  line-height: var(--heading-line-height);
}

.dark-light{
  margin-top: .8rem;
  cursor: pointer;
  width: 3rem;
  height: 1rem;
  background: linear-gradient(to left, #000000, #ffffff);
  transition: var(--ease-out);
  transition-delay: .5s;
  border-radius: 5px;
}

.dark-light:hover{
  transform: rotate(-180deg);
  transition: all 0ms ;
}

body::-webkit-scrollbar {
  width: 5px;
}
body {
  scrollbar-width: thin;
  background-color: var(--gray-light);
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
}

::selection {
  background: rgba(45, 170, 219, 0.3);
}

.logo-name-wrapper{
  width: 100%;
  color: var(--black);
  display: flex;
  flex-wrap: wrap;
  padding-left: 1rem;
  gap: 1.25rem
}

.dark .logo-name-wrapper{
  color: var(--gray-light);
}

.logo_image_wrapper{
  position: relative;
  overflow: hidden;
  height: auto;
  width: calc((var(--width))/19.5);
  aspect-ratio: 3/4;
  margin-top: .5rem;
  border-radius: var(--border-radius-round);
  object-fit: cover;
}

img.logo_image{
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
}
.wrapper {
  min-height: 100vh;
  margin: 0;
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
}

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: -1px;
  backdrop-filter: blur(5px);
  transition: all 0.5s cubic-bezier(0.4, 0, 0, 1);
  border-bottom-color: transparent;
}

.remove-sticky {
  position: unset;
}

.sticky-nav-full {
  @apply border-b border-opacity-50 border-gray-200 dark:border-gray-600 dark:border-opacity-50;
}

.header-name {
  /* display: none; */
  opacity: 1;
  /* opacity: 0; */
  overflow: hidden;
}

.sticky-nav-full .nav {
  @apply text-gray-600 dark:text-gray-300;
}

nav {
  flex-wrap: wrap;
  line-height: 1.5em;
}

.logo-name{
  display: block;
  font-size: 10rem;
  font-size: calc((var(--width))/11.5);
  letter-spacing: -.2rem;
  line-height: var(--heading-line-height);
}

.article-tags::-webkit-scrollbar {
  width: 0 !important;
}

.tag-container ul::-webkit-scrollbar {
  width: 0 !important;
}

.tag-container ul {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.mobile-x-scroll {
  overflow-x: scroll;
}



.profile_image_wrapper{
  display: none;
  border-radius: 20px;
  overflow: hidden;
}

.profile_headings_wrapper{
  color: var(--black);
  padding: 0 0rem;
}

.dark .profile_headings_wrapper{
  color: var(--gray-light);
}

.contact-links-wrapper{
  margin-top: .25rem;
  display: flex;
  gap: 4rem;
}

.contact-links-wrapper:hover{
  background-color: transparent;
}



.profile_link{
  display: inline-flex;
  gap: 1rem;
  border-radius: 10px;
  padding: .25rem;
  font-size: 1rem;
  margin-right: 1rem;
  margin-bottom: .75rem;
  box-shadow: -5px 5px 0px var(--black);
  transition: var(--ease-out);
}

.dark .profile_link{
  color: var(--gray-light);
  box-shadow: -5px 5px 0px var(--gray-light);
}

.profile_link:hover{
  box-shadow: -5px 5px 0px var(--yellow);
  transition: var(--ease-in);
}

.profile_heading{
  font-size: 2.5rem;
  line-height: var(--heading-line-height);
  margin-bottom: 1rem;
}

.post-card-date{
  margin: .5rem 0;
}

.dark .post-card-date{
  color: var(--gray-light);
}

.profile_subheading{
  display: none;
  font-size: 1rem;
  line-height: var(--heading-line-height);
  padding-top: .5rem;
}

.search{
  margin: 2rem 0;
  height: 2rem;
  width: 100%;
  border-bottom: 2px solid var(--black);
  transition: var(--ease-out);
  background-color: transparent;
}

.dark .search{
  border-bottom: 2px solid var(--gray-light);
  color: var(--gray-light);
}


.search:hover, .search:focus, .search:active, input.search:active{
  outline: none;
  border-color: var(--blue);
  transition: var(--ease-in);
}

.search::placeholder{
  color: var(--black);
  opacity: .5;
}

.dark .search::placeholder{
  color: var(--gray-light);
}

.search-answer{
  color: var(--black);
  font-size: 2rem;
  line-height: var(--heading-line-height);
  margin-bottom: 4rem;
}

.tags_list ul{
  display: flex;
  gap: .5rem;
  margin-bottom: 2rem;
}

.tags-list li{
  color: var(--black);
  cursor: pointer;
  border: solid 1px var(--black);
  border-radius: 20px;
  line-height: var(--heading-line-height);
  font-size: 1.25rem;
  padding: 1rem;
  transition: var(--ease-out);
}

.dark .tags-list li:hover{
  color: var(--black);
  border-color: var(--black);
}

.posts-main{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;

 grid-column-gap: 2rem;
 grid-template-rows: auto;

}



.post_card{
  display: block;
  margin-bottom: 3rem;
  width: 100%;
}



.post_card_cover_wrapper{
  position: relative;
  min-height: 6rem;
  width: 100%;
  aspect-ratio: 16/9;
  margin-bottom: 1rem;
}

img.post_cover{
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  object-position: center left;
  border-radius: 20px;
  vertical-align: bottom;
  width: 100%;
  
}

.post_text_wrapper{
  width: auto;
}

.post_heading{
  font-size: 2.5rem;
  line-height: var(--heading-line-height);
  margin-bottom: .5rem;
}

.dark .post_heading{
  color: var(--gray-light);
}

.post_heading:hover{
  text-decoration: underline;
  transition: var(--ease-in);
}

p.card_summary{
  font-size: 1.5rem;
  line-height: var(--body-line-height);
  font-weight: 300;
  margin-bottom: 1rem;
}

.dark p{
  
}

.post_tags_wrapper{
  display: flex;
  gap: .5rem;
}

.post_tag{
  cursor: pointer;
  border: solid 1px var(--black);
  border-radius: 20px;
  line-height: var(--heading-line-height);
  font-size: 1.25rem;
  padding: 1rem;
  transition: var(--ease-out);
}

.post_tag:hover, li:hover{
  background-color: var(--yellow);
  transition: var(--ease-in);
}

.footer_maim{
  color: var(--black);
}

@media (max-width: 1350px) {
  .posts-main{
    grid-template-columns: 1fr 1fr;
   }
   .logo-name-wrapper{
    padding: 0;
   }
}


@media (max-width: 768px) {
  .contact-links-wrapper{
    display: block;
  }

  h2.post_heading{
    font-size: 1.5rem;
  }
  .post-card-date{
    color: var(--black);
    font-size: .75rem;
    margin-bottom: .5rem;
  }

  .dark .post-card-date{
    color: var(--gray-light);
  }

  p.card_summary{
    font-size: 1.25rem;
  }
  .post_tag{
    font-size: 1rem;
  }
  .logo-name{
    display: block;
    font-size: 2rem;
    letter-spacing: 0rem;
  }
  .dark .logo-name{
    color: var(--gray-light);
  }

  .sticky-nav-full {
    @apply w-full border-b border-opacity-50 border-gray-200 dark:border-gray-600 dark:border-opacity-50;
  }
  .header-name {
    display: block;
    /* opacity: 0; */
    transition: all 0.5s cubic-bezier(0.4, 0, 0, 1);
  }
  .sticky-nav-full .header-name {
    opacity: 1;
    @apply dark:text-gray-300 text-gray-600;
  }
  .tags-list{
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    scrollbar-color: var(--gray-medium);
    padding-bottom: 1rem;
  }
  .tags_list::-webkit-scrollbar{
    overflow-x: hidden;
    display: none;

  }
  .posts-main{
    display: block;
  }
}

@supports not (backdrop-filter: none) {
  .sticky-nav {
    backdrop-filter: none;
    @apply bg-day bg-opacity-90 dark:bg-night dark:bg-opacity-90;
  }
}
.mobile-x-scroll {
  overflow-x: hidden;
}
@media (min-width: 768px) {

  
}


