@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

html {
  font-family: 'Replica' !important;
  
  font-display: swap;
  --scrollbarBG: #ffffff00;
  --thumbBG: #b8b8b8;
  --gray-light: #E5E5E5;
  --gray-medium: #dbdbdb;
  --white: #ffffff;
  --black: #131313;
  --yellow: #EBC814;
  --width: 100vw;
  --heading-line-height: 100%;
  --body-line-height: 120%;
  --ease-out: all ease-out 400ms;
  --ease-in: all ease-in 50ms;
  --border-radius-small: 20px;
  --border-radius-round: 999px;
  font-size: 18px;
}

.dark p, h1, h2,h3,h4, ul, li.tags_list{  
  color: #E5E5E5;
}
.dark li.tags_list{
  color: var(--gray-light);
  border-color: var(--gray-light);
}

body{
  font-family: 'Replica';
  color: var(--black);
  background-color: #ffffff;
}
.dark body{
  background-color: #000000;
}

@font-face {
  font-family: 'Replica';
  src: url('/public/fonts/Replica-Regular.ttf') format ('truetype');
  src: url('/public/fonts/Replica-Regular.woff') format ('woff');
  src: url('/public/fonts/Replica-Regular.woff2') format ('woff2');
  src: url('/public/fonts/Replica-Regular.eot');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}



h1, h2, h3, p{
  color: var(--black);
  font-family: 'Replica';
  font-style: normal;
  font-weight: normal;
  word-break: auto;
  hyphens: auto;
} 
h2.post_heading{
  line-height: 100%;
  margin-bottom: 0;
}
.nav-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
  margin-bottom: 2rem;
}
.nav-links{
  display: flex;
  gap: 1.5rem;
  width: auto;
  justify-content: space-between;
  margin-top: .75rem;
}

.contact-links-wrapper{
  color: var(--black);
  font-size: 1.5rem;
  line-height: var(--heading-line-height);
}

.contact-link{
  line-height: var(--heading-line-height);
}

.hoverme{
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  line-height: var(--heading-line-height);
  cursor: pointer;
  transition: var(--ease-out);
}

.hoverme:hover {
  transition: var(--ease-out);
}

.hoverme:hover > .pop {
  opacity: 1;
  background-color: var(--blue);
  transition: var(--ease-in);
}

.pop{
  position: absolute;
  display: flex;
  gap: .25rem;
  flex-direction: column;
  padding: .5rem;
  height: fit-content;
  margin-top: .5rem;
  margin-left: -1.25rem;
  opacity: 0;
  background-color: var(--white);
  border-radius: 25px;
  transition: var(--ease-out);
  transition-delay: .5s;
  
  z-index: 999;
}

.dark-light{
  margin-left: .5rem;
  cursor: pointer;
  width: 3rem;
  height: 1.25rem;
  transform: rotate(0deg);
  background: linear-gradient(to bottom, #000000 100%, #ffffff);
  transition: var(--ease-in);
  border-radius: 10px;
}

.dark-light:hover{
  background: linear-gradient(to bottom, #000000, #ffffff);
  transition: var(--ease-out);
}

body::-webkit-scrollbar {
  width: 5px;
}
body {
  scrollbar-width: thin;
  background-color: var(--gray-light);
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
}

::selection {
  background: rgba(45, 170, 219, 0.3);
}

.logo-name-wrapper{
  color: var(--black);
  display: flex;
  flex-wrap: wrap;
  
  gap: 1.25rem
}

.dark .logo-name-wrapper{
  color: var(--gray-light);
}

.logo_image_wrapper{
  position: relative;
  overflow: hidden;
  height: auto;
  width: calc((var(--width))/19.5);
  aspect-ratio: 3/4;
  margin-top: .5rem;
  border-radius: var(--border-radius-round);
  object-fit: cover;
}

img.logo_image{
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
}
.wrapper {
  min-height: 100vh;
  margin: 0;
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
}

.sticky-nav {
  position: sticky;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  z-index: 10;
  top: -1px;
  backdrop-filter: blur(5px);
  transition: all 0.5s cubic-bezier(0.4, 0, 0, 1);
  border-bottom-color: transparent;
}

.remove-sticky {
  position: unset;
}



.header-name {
  /* display: none; */
  opacity: 1;
  /* opacity: 0; */
  overflow: hidden;
}



nav {
  flex-wrap: wrap;
  line-height: 1.5em;
}

.logo-name{
  display: block;
  font-size: 10rem;
  font-size: calc((var(--width))/11.5);
  letter-spacing: -.2rem;
  line-height: var(--heading-line-height);
}

.article-tags::-webkit-scrollbar {
  width: 0 !important;
}

.tag-container ul::-webkit-scrollbar {
  width: 0 !important;
}

.tag-container ul {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.mobile-x-scroll {
  overflow-x: scroll;
}



.profile_image_wrapper{
  display: none;
  border-radius: 20px;
  overflow: hidden;
}

.profile_headings_wrapper{
  color: var(--black);
  padding: 0 0rem;
}

.dark .profile_headings_wrapper{
  color: var(--gray-light);
}

.contact-links-wrapper{
  
  display: flex;
  gap: 1.5rem;
}

.contact-links-wrapper:hover{
  background-color: transparent;
}



.profile_link{
  display: flex;
  padding: 1rem;
  align-content: center;
  justify-content: flex-start;
  background-color: var(--white);
  color: var(--black);
  display: inline-flex;
  width: 100%;
  gap: 1rem;
  border-radius: 20px;
  padding: 1rem;
  font-size: 1.25rem;
  transition: var(--ease-out);
}

.dark .profile_link{
  color: var(--gray-light);
  box-shadow: -5px 5px 0px var(--gray-light);
}

.profile_link:hover{
  color: var(--black);
  background-color: var(--yellow);
  transition: var(--ease-in);
}

.profile_heading{
  font-size: 2.5rem;
  line-height: var(--heading-line-height);
  margin-bottom: 1rem;
}

.post-card-date{
  margin: .5rem 0;
}

.dark .post-card-date{
  color: var(--gray-light);
}

.profile_subheading{
  display: none;
  font-size: 1rem;
  line-height: var(--heading-line-height);
  padding-top: .5rem;
}

.search{
  margin: 2rem 0;
  height: 2rem;
  width: 100%;
  border-bottom: 2px solid var(--black);
  transition: var(--ease-out);
  background-color: transparent;
}

.dark .search{
  border-bottom: 2px solid var(--gray-light);
  color: var(--gray-light);
}


.search:hover, .search:focus, .search:active, input.search:active{
  outline: none;
  border-color: var(--blue);
  transition: var(--ease-in);
}

.search::placeholder{
  color: var(--black);
  opacity: .5;
}

.dark .search::placeholder{
  color: var(--gray-light);
}

.search-answer{
  color: var(--black);
  font-size: 2rem;
  line-height: var(--heading-line-height);
  margin-bottom: 4rem;
}

.tags_list ul{
  display: flex;
  gap: .5rem;
  margin-bottom: 2rem;
}

.tags-list li{
  color: var(--black);
  cursor: pointer;
  border: solid 1px var(--black);
  border-radius: 20px;
  line-height: var(--heading-line-height);
  font-size: 1.25rem;
  padding: 1rem;
  transition: var(--ease-out);
}

.dark .tags-list li:hover{
  color: var(--black);
  border-color: var(--black);
}

.dark li.tags-list-active:hover{
  color: var(--gray-light);
  background-color: var(--gray-light);
}

.tags-list-active{
  text-decoration: underline;
}


.tags-list-active:hover{
  text-decoration: underline;
  background-color: inherit;
  color: var(--black);
}

.dark .tags-list-active:hover{
  text-decoration: underline;
  background-color: inherit;
  color: var(--gray-light);
}

.posts-main{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;

 grid-column-gap: 2rem;
 grid-template-rows: auto;

}



.post_card{
  display: block;
  margin-bottom: 3rem;
  width: 100%;
}



.post_card_cover_wrapper{
  position: relative;
  min-height: 6rem;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 16/9;
  margin-bottom: 1rem;
}

img.post_cover{
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  object-position: center left;
  border-radius: 20px;
  vertical-align: bottom;
  width: 100%;
  
}

.post_text_wrapper{
  width: auto;
}

.post_heading{
  font-size: 2.5rem;
  line-height: var(--heading-line-height);
  margin-bottom: .5rem;
}

.dark .post_heading{
  color: var(--gray-light);
}

.post_heading:hover{
  text-decoration: underline;
  transition: var(--ease-in);
}

p.card_summary{
  font-size: 1.5rem;
  line-height: var(--body-line-height);
  font-weight: 300;
  margin-bottom: 1rem;
}

.dark p{
  color: var(--gray-light);
}

.post_tags_wrapper{
  display: flex;
  gap: .5rem;
}

.post_tag{
  cursor: pointer;
  border: solid 1px var(--black);
  border-radius: 20px;
  line-height: var(--heading-line-height);
  font-size: 1.25rem;
  padding: 1rem;
  transition: var(--ease-out);
}

.post_tag:hover, li:hover{
  background-color: var(--yellow);
  transition: var(--ease-in);
}

.footer_maim{
  color: var(--black);
}

@media (max-width: 1350px) {
  .posts-main{
    grid-template-columns: 1fr 1fr;
   }
   .logo-name-wrapper{
    padding: 0;
   }
   
}


@media (max-width: 768px) {


  .logo-name-wrapper{
    flex-direction: column;
    gap: .5rem;
    width: 100%;
  }

  .logo_image_wrapper{
    width: 5rem;
    height: 4rem;
  }
  img.logo_image{
    object-position: top;
  }

  .dark-light{
    display: none;
  }
  
  .logo-name{
    display: inline-block;
    padding-top: .5rem;
    font-size: 1.125rem;
    letter-spacing: 0rem;
    line-height: 100%;
    padding-top: .5rem;
    bottom: 0;
  }
  .nav-links{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 50%;
    
  }


  .profile_heading{
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }
  

  ul.contact-links-wrapper, li.contact-links-wrapper{
    display: block;
    width: 100%;
  }

  .profile_links_wrapper{
    display: flex;
    flex-direction: column;
  }



  .profile_link{
    font-size: 1.75rem;
    padding: .75rem;
  }

  h2.post_heading{
    font-size: 1.5rem;
  }

  input.search{
    margin: 1.5rem 0;
  }
  .post-card-date{
    color: var(--black);
    font-size: .75rem;
    margin-bottom: .5rem;
  }

  .dark .post-card-date{
    color: var(--gray-light);
  }

  p.card_summary{
    font-size: 1.25rem;
  }
  .post_tag{
    font-size: 1rem;
  }

  .dark .logo-name{
    color: var(--gray-light);
  }


  .header-name {
    display: block;
    /* opacity: 0; */
    transition: all 0.5s cubic-bezier(0.4, 0, 0, 1);
  }

  .tags-list{
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    scrollbar-color: var(--gray-medium);
    padding-bottom: 1rem;
  }
  .tags_list::-webkit-scrollbar{
    overflow-x: hidden;
    display: none;

  }
  .posts-main{
    display: block;
  }
}

@supports not (backdrop-filter: none) {

}
.mobile-x-scroll {
  overflow-x: hidden;
}
@media (min-width: 768px) {

  
}


