/* NOTION CSS OVERRIDE */
body{
  width: 100%;
}
.notion {
  font-family: 'Replica', sans-serif;
  @apply text-neutral-900 dark:text-neutral-100;
  overflow-wrap: break-word;
}
.notion,
.notion-text,
.notion-quote,
.notion-h-title {
  @apply leading-10;
  line-height: 140%;
  @apply p-0;
  @apply my-1;
  width: 100%;
  margin: 0;
  padding: 0px;
  @apply font-bold;
}

.notion-h{
  margin-bottom: 1em;
}


.notion-toggle {
  @apply w-full;
}



.notion-list li {
  @apply py-0;
  @apply text-xl; 
  @apply font-bold;
}
.notion-page-link {
  color: inherit;
}

svg.notion-page-icon {
  @apply hidden;
}

svg + .notion-page-title-text {
  @apply border-b-0;
}

.notion-bookmark {
  @apply border;
  @apply border-gray-100;
  color: inherit;
}

.notion-bookmark .notion-bookmark-title,
.notion-bookmark .notion-bookmark-link div {
  @apply text-gray-900 dark:text-gray-200;
}

.notion-bookmark .notion-bookmark-description {
  @apply text-gray-600 dark:text-gray-300;
}

.notion-code > code {
  @apply text-gray-900;
}

pre[class*="language-"] {
  line-height: inherit;
}

.notion-bookmark:hover {
  @apply border-blue-900;
}
.notion-viewport {
  z-index: -10;
}
.notion-asset-caption {
  @apply text-center;
  @apply text-gray-900 dark:text-gray-900;
}
.notion-full-width {
  @apply px-0;
}
.notion-page {
  @apply w-full;
  @apply px-0;
}
.notion-quote {
  padding: 0.2em 0.9em;
}
.notion-collection {
  @apply max-w-full;
}
.notion-collection > .notion-collection-header {
  @apply px-0 !important;
}
.notion-collection > .notion-table {
  @apply max-w-full !important;
}
.notion-collection > .notion-table > .notion-table-view {
  @apply px-0 !important;
}
.notion-collection-view-type {
  @apply hidden;
}
.notion-collection-row {
  @apply hidden;
}

.notion-hr {
  border-top: 1px solid rgba(55, 53, 47, 0.16);
}
.notion-h-title{
  font-size: xxx-large;
  @apply leading-10;
}

.notion-text{
  font-size: x-large;
}
